<!DOCTYPE html>
<html>
<head>
	<title>Simulator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<script src="{{ url_for('static', filename='index.js') }}"></script>

</head>
<body>
  <nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <ul class="nav navbar-nav">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('temperatura_simulator') }}">Campo de Temperatura</a></li>
			<li><a href="{{ url_for('geochemical_simulator') }}">Equilibrio Geoquimico</a></li>
		  </ul>
		</div>
	</nav>

	<div class="container">
		{% block content %} {% endblock %}
	</div>
</body>
</html>
