{% extends "base.html" %}

{% block content %}
	<h1>Trabalho de Conclusão do aluno - PUCSP - Especialização em Engenharia de Software</h1>
	<p>
		Bem vindo ao trabalho de conclusão de curso do aluno Alexandre Barbosa Bruno!!!!

		Esta aplicação web foi desenvolvida com o propósito de apresentar um possível modelo de aplicação extensível e escalável 
		focada em software de simulação numérica com aplicações de engenharia. Trata-se de um simulador numérico desenvolvido em 
		arquitetura de microserviços, atualmente ele possui um simulador de campo de temperatura de placa plana e um simulador geoquímico
		capaz de computar a variação densidades em relação a temperatura para uma dada composição e pressão.  
	</p>
{% endblock %}
